.advantages {
  margin-bottom: 44px;

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.advantages__header {
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    margin-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 44px;
  }
}

.advantages__title {
  margin: 0 20px;

  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0 124px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 358px;
  }
}

.advantages__list {
  padding: 0;
  margin: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item {
  &:first-child {
    @media (min-width: $tablet-width) {
      grid-area: 1/1/3/-1;
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      & > .advantages__description {
        grid-area: 1/1/2/2;
      }

      & picture {
        grid-area: 1/2/2/4;
      }

      & > .advantages__sublist {
        grid-area: 2/1/3/-1;
      }
    }
  }

  &:nth-child(2) {
    @media (min-width: $tablet-width) {
      grid-area: 3/1/4/-1;
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      & > .advantages__description {
        grid-area: 1/3/2/4;
      }

      & > picture {
        grid-area: 1/1/2/3;
      }
    }
  }

  &:nth-child(3) {
    @media (min-width: $tablet-width) {
      grid-area: 4/1/5/2;

      background-color: #eeeeee;
    }
  }

  &:nth-child(4) {
    @media (min-width: $tablet-width) {
      grid-area: 4/2/5/3;

      background-color: #eeeeee;
    }
  }

  &:nth-child(5) {
    @media (min-width: $tablet-width) {
      grid-area: 4/3/5/4;

      background-color: #eeeeee;
    }
  }
}

.advantages__image {
  width: 320px;
  height: 100%;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    width: 512px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.advantages__sublist {
  padding: 0;
  margin: 23px 18px 20px;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
  }
}
