.button {
  display: block;
  padding: 16px 20px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;

  background-color: #81b3d2;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #5496bd;
  }

  &:disabled {
    background-color: #e5e5e5;
  }

  &--failure {
    padding: 18px 63px 14px;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      min-width: 272px;
    }
  }

  &--success {
    width: 100%;
  }
}
