.control {
  position: relative;

  display: block;
  padding-left: 46px;

  cursor: pointer;

  &:focus-within {
    background-color: #ffffff;
    outline: 4px solid #e5e5e5;
  }
}

.control__mark {
  position: absolute;
  content: "";
  top: 0;
  left: 0;

  width: 16px;
  height: 16px;

  background-color: #f2f2f2;
  border-radius: 50%;
  border: 15px solid #f2f2f2;
}

.control__label {
  display: block;
  padding: 10px 16px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
  color: #000000;

  @media (min-width: $desktop-width) {
    padding: 10px 0 10px 16px;
  }
}

.control__input--radio:checked + .control__mark {
  background-color: #333333;
}

.control__input--checkbox + .control__mark {
  width: 46px;
  height: 46px;

  background: #f2f2f2;
  border: none;
  border-radius: 4px;
}

.control__input--checkbox:checked + .control__mark {
  background-image: url("../img/icon-tick.svg");
  background-position: center;
  background-repeat: no-repeat;
}
