.feature {
  position: relative;

  padding: 24px 20px;

  background-color: #eeeeee;

  @media (min-width: $tablet-width) {
    padding: 45px 33px;
  }

  @media (min-width: $desktop-width) {
    padding: 53px 40px;
  }

  &--dark-theme {
    padding: 37px 20px 40px;

    background-color: #81b3d2;

    @media (min-width: $tablet-width) {
      padding: 52px 33px 31px;
    }

    @media (min-width: $desktop-width) {
      padding: 54px 55px 53px;
    }
  }

  &--sublist {
    padding: 8px 0 25px 47px;

    background-color: #ffffff;

    @media (min-width: $tablet-width) {
      padding: 158px 33px 60px;
    }

    @media (min-width: $desktop-width) {
      padding: 170px 50px 68px;
    }
  }

  &--underline {
    @media (max-width: $mobile-width-only) {
      border-bottom: 1px solid #d6d6d6;
    }
  }

  &--living::before {
    position: absolute;
    content: "";
    top: 2px;
    left: 0;

    width: 39px;
    height: 37px;

    background-image: url("../img/icon-house.svg");
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      top: 60px;
      left: 89px;

      width: 77px;
      height: 72px;

      background-size: 77px 72px;
    }

    @media (min-width: $desktop-width) {
      top: 69px;
      left: 160px;

      width: 80px;
      height: 72.4px;

      background-size: 80px 72.4px;
    }
  }

  &--eating::before {
    position: absolute;
    content: "";
    top: 3px;
    left: 0;

    width: 40px;
    height: 35px;

    background-image: url("../img/icon-burger.svg");
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      top: 62px;
      left: 87px;

      width: 80px;
      height: 68px;

      background-size: 80px 68px;
    }

    @media (min-width: $desktop-width) {
      top: 72px;
      left: 162px;

      width: 73px;
      height: 69px;

      background-size: 73px 69px;
    }
  }

  &--gifts::before {
    position: absolute;
    content: "";
    top: 1px;
    left: 4px;

    width: 32px;
    height: 38px;

    background-image: url("../img/icon-gift.svg");
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      top: 64px;
      left: 99px;

      width: 67px;
      height: 75px;

      background-size: 67px 75px;
    }

    @media (min-width: $desktop-width) {
      top: 69px;
      left: 159px;

      width: 77.46px;
      height: 75px;

      background-size: 77.46px 75px;
    }
  }

  &--white-top {
    @media (max-width: $mobile-width-only) {
      padding-top: 17px;
    }
  }

  &--white-top::before {
    @media (max-width: $mobile-width-only) {
      position: absolute;
      content: "";
      top: 0;
      left: 0;

      border-top: 16px solid #ffffff;
      border-left: 160px solid transparent;
    }
  }

  &--white-top::after {
    @media (max-width: $mobile-width-only) {
      position: absolute;
      content: "";
      top: 0;
      right: 0;

      border-top: 16px solid #ffffff;
      border-right: 160px solid transparent;
    }
  }
}

.feature__title {
  margin: 0;
  margin-bottom: 11px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }

  & > br {
    display: none;

    @media (min-width: $tablet-width) {
      display: inline;
    }
  }

  &--dark-theme {
    color: #ffffff;
  }

  &--sublist {
    margin-bottom: 16px;

    text-align: left;

    @media (min-width: $tablet-width) {
      margin-bottom: 22px;

      text-align: center;
    }
  }
}

.feature__number {
  margin: 0;
  margin-bottom: 15px;

  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }

  &--dark-theme {
    color: #ffffff;
  }

  &--bigger-padding-bottom {
    @media (max-width: $mobile-width-only) {
      margin-bottom: 20px;
    }
  }
}

.feature__description {
  margin: 0;

  text-align: center;
  text-transform: uppercase;

  & > br {
    display: none;

    @media (min-width: $tablet-width) {
      display: inline;
    }
  }

  &--dark-theme {
    color: #ffffff;

    & > br {
      display: none;

      @media (min-width: $desktop-width) {
        display: inline;
      }
    }
  }

  &--sublist {
    text-align: left;

    @media (min-width: $tablet-width) {
      text-align: center;
    }
  }

  &--add-padding-left-right {
    @media (max-width: $mobile-width-only) {
      padding: 0 15px;
    }
  }
}
