.gallery {
  margin: 0 20px 20px;

  @media (min-width: $tablet-width) {
    margin: 0 60px 65px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-bottom: 62px;
  }
}

.gallery__title {
  margin: 0;
  margin-bottom: 38px;

  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0 95px 80px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 372px 83px;
  }

  & > br {
    display: none;

    @media (min-width: $tablet-width) {
      display: inline;
    }
  }
}

.gallery__list {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.gallery__item {
  padding: 24px 0 25px;
  margin: 0;

  border-top: 1px solid #e5e5e5;

  &:last-child {
    border-bottom: 1px solid #e5e5e5;
  }

  @media (min-width: $tablet-width) {
    padding: 0;

    border: none;

    &:first-child {
      grid-area: 1/1/2/3;
    }
  }

  @media (min-width: $desktop-width) {
    &:first-child {
      grid-area: 1/1/2/4;
    }
  }
}
