.main-footer {
  margin: 0 20px 40px;
}

.main-footer__hashtag {
  margin: 0;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
