.main-container__title {
  margin: 0 20px 35px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: $tablet-width) {
    margin: 0 124px 28px;

    font-size: 21px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 358px 28px;
  }

  br {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.main-container--inner .main-container__title {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;

    font-size: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 31px;
  }
}
