.main-nav {
  position: relative;
  z-index: 2;

  min-height: 56px;

  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    z-index: 1;
  }

  &--inner {
    position: absolute;
    width: 320px;

    @media (min-width: $tablet-width) {
      width: 768px;
    }

    @media (min-width: $desktop-width) {
      width: 1200px;
    }
  }
}

.main-nav__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 185px;
  height: 96px;

  text-decoration: none;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    z-index: 2;
  }

  &--active {
    cursor: auto;
  }
}

.main-nav__logo-image {
  display: block;

  padding: 0;
  margin: 0 auto;
}

.main-nav__toggle {
  position: absolute;
  content: "";
  z-index: 3;
  top: 0;
  right: 0;

  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle {
  top: 17px;
  right: 17px;

  width: 23px;
  height: 4px;

  background-color: #81b3d2;

  &::before {
    position: absolute;
    content: "";
    top: 9px;
    right: 0;

    width: 23px;
    height: 4px;

    background-color: #81b3d2;
  }

  &::after {
    position: absolute;
    content: "";
    top: 18px;
    right: 0;

    width: 23px;
    height: 4px;

    background-color: #81b3d2;
  }
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: 0;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 26px;
    right: 17px;

    width: 28px;
    height: 4px;

    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--opened .main-nav__list {
    display: block;
  }

  .main-nav--nojs {
    position: static;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    position: static;

    display: block;
  }
}

.main-nav__list {
  position: absolute;

  width: 320px;
  padding: 0;
  margin: 0;

  list-style: none;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    width: 768px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.main-nav__item {
  text-align: center;

  &:first-child {
    grid-column: 1/2;
  }

  &:nth-child(2) {
    grid-column: 2/3;
  }

  &:nth-child(3) {
    grid-column: 4/5;
  }

  &:last-child {
    grid-column: 5/6;
  }

  @media (max-width: $mobile-width-only) {
    position: relative;

    background-color: #81b3d2;
    box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2),
      inset 0 1px 0 rgba(255, 255, 255, 0.2);

    &:first-child {
      box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
    }

    &:last-child {
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
    }

    &:last-child::before {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;

      height: 7px;
      width: 100%;

      background: linear-gradient(180deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.2) 100%);
      mix-blend-mode: normal;
    }
  }
}

.main-nav__link {
  display: block;
  padding: 17px 20px 12px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    padding: 18px 20px 17px;

    font-size: 14px;
    line-height: 21px;
    color: #000000;
  }

  &--active {
    color: #766357;
  }

  &:not(.main-nav__link--active):hover {
    color: #81b3d2;

    @media (max-width: $mobile-width-only) {
      background-color: #669ec0;
    }
  }

  &:not(.main-nav__link--active):active {
    color: rgba(0, 0, 0, 0.3);

    @media (max-width: $mobile-width-only) {
      color: rgba(255, 255, 255, 0.3);

      background-color: #5496bd;
    }
  }
}
