.map {
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    margin-bottom: 36px;
  }

  &--nojs {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 161px;
      left: 146px;

      width: 16.8px;
      height: 16.8px;

      background-color: #81b3d3;
      border-radius: 50%;
      border: 5px solid #ffffff;

      @media (min-width: $tablet-width) {
        top: 164px;
        left: 370px;
      }

      @media (min-width: $desktop-width) {
        top: 162px;
        left: 586px;
      }
    }
  }
}

.map__google {
  display: block;
  width: 320px;
  height: 350px;
  object-fit: cover;

  border: none;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 350px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    height: 350px;
  }

  &--nojs {
    display: none;
  }
}

.map__image {
  display: none;

  &--nojs {
    display: block;
    width: 320px;
    height: 350px;
    object-fit: cover;

    @media (min-width: $tablet-width) {
      width: 768px;
    }

    @media (min-width: $desktop-width) {
      width: 1200px;
    }
  }
}
