// .page {
//   background-color: #e7e5e5;
// }

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;

  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;

  background-color: #f2f2f2;
}

