.search-hotel {
  margin: 0 20px 49px;
}

.search-hotel__title {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.search-hotel__description {
  margin: 0;
  margin-bottom: 32px;

  text-align: center;
  text-transform: uppercase;
}
