.social__list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;

  list-style: none;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.social__item {
  width: 48px;
  height: 48px;

  background-color: #81B3D2;

  &:not(:last-child) {
    margin-right: 6px;
  }
}
