.video {
  position: relative;

  margin: 0 20px 28px;

  @media (min-width: $tablet-width) {
    margin: 0 60px 70px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 200px 115px;
  }
}

.video__header {
  margin: 0;
  margin-bottom: 27px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;

    margin: 0 102px 32px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 177px 32px;
  }
}

.video__description {
  padding: 0 5px;
  margin: 0;
  margin-bottom: 38px;

  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0 102px 88px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 177px 85px;
  }
}

.video__player {
  width: 280px;
  height: 177px;
  object-fit: cover;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  @media (min-width: $tablet-width) {
    width: 648px;
    height: 500px;

    filter: none;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.video__button {
  position: absolute;
  content: "";
  bottom: 65px;
  left: 0;
  right: 0;
  z-index: 2;

  width: 0;
  height: 0;
  padding: 0;
  margin: auto;

  background-color: transparent;
  border: 0;
  border-top: 27px solid transparent;
  border-left: 48px solid rgba(255, 255, 255, 0.7);
  border-bottom: 27px solid transparent;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    bottom: 230px;
  }
}
